<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>Controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <display-name>WebBanDungCuTheThao</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoaiSanPhamServlet</display-name>
    <servlet-name>LoaiSanPhamServlet</servlet-name>
    <servlet-class>Controller.LoaiSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoaiSanPhamServlet</servlet-name>
    <url-pattern>/LoaiSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachLoaiSanPhamServlet</display-name>
    <servlet-name>DanhSachLoaiSanPhamServlet</servlet-name>
    <servlet-class>Controller.DanhSachLoaiSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachLoaiSanPhamServlet</servlet-name>
    <url-pattern>/DanhSachLoaiSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachSanPhamServlet</display-name>
    <servlet-name>DanhSachSanPhamServlet</servlet-name>
    <servlet-class>Controller.DanhSachSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachSanPhamServlet</servlet-name>
    <url-pattern>/DanhSachSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SanPhamFormServlet</display-name>
    <servlet-name>SanPhamFormServlet</servlet-name>
    <servlet-class>Controller.SanPhamFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SanPhamFormServlet</servlet-name>
    <url-pattern>/SanPhamFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>Controller.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimKiemProductsServlet</display-name>
    <servlet-name>TimKiemProductsServlet</servlet-name>
    <servlet-class>Controller.TimKiemProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimKiemProductsServlet</servlet-name>
    <url-pattern>/TimKiemProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>Controller.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailsServlet</display-name>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <servlet-class>Controller.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <url-pattern>/OrderDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailServlet</display-name>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>Controller.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>Controller.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/VerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSDonHangServlet</display-name>
    <servlet-name>DSDonHangServlet</servlet-name>
    <servlet-class>Controller.DSDonHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSDonHangServlet</servlet-name>
    <url-pattern>/DSDonHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachUserServlet</display-name>
    <servlet-name>DanhSachUserServlet</servlet-name>
    <servlet-class>Controller.DanhSachUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachUserServlet</servlet-name>
    <url-pattern>/DanhSachUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserSerlevt</display-name>
    <servlet-name>EditUserSerlevt</servlet-name>
    <servlet-class>Controller.EditUserSerlevt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserSerlevt</servlet-name>
    <url-pattern>/EditUserSerlevt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietSanPhamServlet</display-name>
    <servlet-name>ChiTietSanPhamServlet</servlet-name>
    <servlet-class>Controller.ChiTietSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietSanPhamServlet</servlet-name>
    <url-pattern>/ChiTietSanPhamServlet</url-pattern>
  </servlet-mapping>
</web-app>